@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$santa-letter-app-primary: mat-palette($mat-red, A200, A100, A400);
$santa-letter-app-accent: mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$santa-letter-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$santa-letter-app-theme: mat-light-theme(
  (
    color: (
      primary: $santa-letter-app-primary,
      accent: $santa-letter-app-accent,
      warn: $santa-letter-app-warn
    )
  )
);
.logo {
  display: block;
  max-height: 50px;
  fill: #fff;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($santa-letter-app-theme);

/* You can add global styles to this file, and also import other style files */

h1,
h3 {
  color: mat-color($santa-letter-app-accent, darker);
}

h2,
h4 {
  color: mat-color($santa-letter-app-primary);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
