<mat-card color="primary">
  <mat-card-title>
    <h1>Address</h1>
  </mat-card-title>
  <ng-container [formGroup]="controlContainer?.control?.get('address')">
    <mat-form-field appearance="outline">
      <mat-label>Address Line One</mat-label>
      <input matInput formControlName="addressLineOne" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address Line Two</mat-label>
      <input matInput formControlName="addressLineTwo" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address Line Three</mat-label>
      <input matInput formControlName="addressLineThree" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>State or Province</mat-label>
      <input matInput formControlName="stateOrProvince" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" />
    </mat-form-field>
  </ng-container>
  <mat-card-actions>
    <a mat-button routerLink="/step1" color="accent">Previous</a>
    <a mat-button routerLink="/step3" color="primary">Next</a>
  </mat-card-actions>
</mat-card>
